# Node
node_modules/
dist/
dist-ssr/
build/
.npm/
.eslintcache

# Environment files (Never commit these!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
static/
logs/
*.log

# Editor / OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
